.img
    img(src="./../images/slider/slide2/vector.png", alt="")
    img(src="./../images/slider/slide2/water.png", alt="")
    img(src="./../images/slider/slide2/face.png", alt="")
.container
    .row
        .col
            .slide
                .slide-dscrpt
                    h1 процедуры <br> продления <br> молодости <br> кожи лица
                .slide-block.margin-default-left 
                    button
                        a(href="#services") Смотреть процедуры
                    .slide-block-text
                            p.text-default Кабинет врачебной <br> косметологии в г. Гродно
                            p.text-default Работаем по предворительной записи <br> в удобное для Вас время
