.first-slide
    .container
        .row
            .col
                .first-slide-text
                    .first-slide-dscrpt
                        h1 ЗДОРОВАЯ КОЖА <br> — ГЛАВНОЕ <br> УСЛОВИЕ <br> КРАСОТЫ
                    .first-slide-bottom
                        .first-slide-bottom-btn Смотреть <br> процедуры
                        .first-slide-bottom-dscrpt
                            .first-slide-bottom-dscrpt-first
                                p1 Кабинет врачебной <br> косметологии в г. Гродно
                            .first-slide-bottom-dscrpt-second
                                p Работаем по предворительной записи <br> в удобное для Вас время
.img
    img(src="./../images/slider/slide1/1st.png", alt="")
