.img
    img(src="./../images/slider/slide1/vector.png", alt="")
    img(src="./../images/slider/slide1/1st.png", alt="")
.container
    .row
        .col
            .slide
                .slide-dscrpt
                    h1 ЗДОРОВАЯ КОЖА <br> — ГЛАВНОЕ <br> УСЛОВИЕ <br> КРАСОТЫ
                .slide-block.margin-default-left 
                    button
                        a(href="#services") Смотреть процедуры
                    .slide-block-text
                            p.text-default Кабинет врачебной <br> косметологии в г. Гродно
                            p.text-default Работаем по предворительной записи <br> в удобное для Вас время
