.img
    img(src="./../images/slider/slide3/vector.png", alt="")
    img.img-top(src="./../images/slider/slide3/face.png", alt="")
    img.img-top(src="./../images/slider/slide3/leaves_top.png", alt="")
    img(src="./../images/slider/slide3/leaves_btm.png", alt="")
.container
    .row
        .col
            .slide
                .slide-dscrpt
                    h1 восстановление <br> кожи, <br> чистка
                .slide-block.margin-default-left 
                    button
                        a(href="#services") Смотреть процедуры
                    .slide-block-text
                            p.text-default Кабинет врачебной <br> косметологии в г. Гродно
                            p.text-default Работаем по предворительной записи <br> в удобное для Вас время
