.img
    img(src="./../images/slider/slide5/vector.png", alt="")
    img.img-left(src="./../images/slider/slide5/leaves.png", alt="")
    img(src="./../images/slider/slide5/face.png", alt="")
.container
    .row
        .col
            .slide
                .slide-dscrpt
                    h1 трихология
                    .slide-dscrpt-bottom.margin-default-left
                        img.img-inherit(src="src=./../images/slider/slide5/star.svg", alt="")
                        p.text-default узкоспециализированный раздел дерматологии, занимающийся изучением строения, роста, болезней и защиты волос и волосистой части головы.
                .slide-block.margin-default-left 
                    button
                        a(href="#services") Смотреть процедуры
                    .slide-block-text
                            p.text-default Кабинет врачебной <br> косметологии в г. Гродно
                            p.text-default Работаем по предворительной записи <br> в удобное для Вас время
