.img
    img(src="./../images/slider/slide4/vector.png", alt="")
    img(src="./../images/slider/slide4/face.png", alt="")
.container
    .row
        .col
            .slide
                .slide-dscrpt
                    h1 пилинги
                    .slide-dscrpt-bottom
                        p.text-default.margin-default-left Результат процедуры – возвращение кожному покрову свежего, привлекательного, здорового вида
                .slide-block.margin-default-left 
                    button
                        a(href="#services") Смотреть процедуры
                    .slide-block-text
                            p.text-default Кабинет врачебной <br> косметологии в г. Гродно
                            p.text-default Работаем по предворительной записи <br> в удобное для Вас время
