.care
    h2#recomendation домашний уход
.container
    .row
        .col
            .care-block
                .care-block-first
                    .row
                        .col-lg-6
                            img(src="./../../images/care/care-top.png", alt="")
                        .col-lg-6.care-block-first-text
                            h3 Неотъемлемое звено в уходе за кожей
                            div.margin-default-left 
                                p Некоторые пациенты пренебрегают домашним уходом, не подозревая, что 80% успеха зависит от правильно подобранного ухода. 
                                p Многие люди приобретают и используют косметику с масс-маркета, которая в большинстве случаев мало эффективна и экономически затратна. По этой причине люди неудовлетворенны результатами и снова и снова покупают новую безъэффективную косметику.   
                .care-block-second
                    .row
                        .col-lg-6.care-block-second-text
                            h3 Чтобы избежать экспериментов над своей кожей, лучше прибегнуть к помощи специалистов 
                            p.margin-default-left Профессиональная косметика, с которой мы работаем, имеет под собой медицинскую доказательную базу. В этой косметике содержится высокие концентрации активных веществ необходимых для профилактики и лечения различных типов и проблем кожи. 
                        .col-lg-6
                            img.margin-default-left(src="./../../images/care/care-btm.png", alt="")

