.container
    .row
        .col.description
            .description-img.col-lg-6
                img#about(src="./../../images/dscrpt/foto-dscrpt-1.png", alt="")
            .description-text.col-lg-6
                .row
                    .description-text-p.margin-default-left 
                        p.text-default Здесь Вам помогут не только выглядеть лучше, но и чувствовать себя лучше, легче и моложе. Вы будете успешны во всем , выглядеть хорошо и получать от этого удовольствие!
                    .description-text-h3
                        h3 Все процедуры выполняются только профессиональным врачом-дерматологом или косметологом.
.container
    .row
        .col.description-second
            .description-second-text.col-lg-5
                .row
                    .description-second-text-h3
                        h3 Основной принцип в нашей работе - работа на результат.
                    .description-second-text-p.margin-default-left 
                        p.text-default Клиент будет доверять только тому специалисту, который умеет поставитьправильный диагноз и назначить уход или лечение, которое дает ощутимое улучшение и выздоровление в самое ближайшее время.
            
            .description-second-img.col-lg-5.offset-lg-2
                img.img-dscrpt-gel(src="./../../images/dscrpt/foto-dscrpt-3.png", alt="")
                img(src="./../../images/dscrpt/foto-dscrpt-2.png", alt="")

