.container
    .row
        .col.footer
            .footer-title
                .footer-title-name
                    p Кабинет врачебной косметологии в г. Гродно
                .footer-title-rigth
                    p © 2020
            .footer-menu
                .footer-menu-about
                    a(href="#about") О нас
                .footer-menu-service
                    a(href="#services") Услуги
                .footer-menu-recomendation
                    a(href="#recomendation") Домашний уход
                .footer-menu-contacts
                    a(href="#map") Контакты