.container
    .row
        .col.footer
            .footer-title
                .footer-title-name
                    p Кабинет врачебной косметологии в г. Гродно
                .footer-title-rigth
                    p © 2020
            .footer-menu
                .footer-menu-about
                    a(href="") О нас
                .footer-menu-service
                    a(href="") Услуги
                .footer-menu-recomendation
                    a(href="") Домашний уход
                .footer-menu-contacts
                    a(href="") Контакты