.gifts
    .container
        .row
            .col
                .gifts-top.margin-default
                    img(src="./../../images/gifts/leafes.png", alt="")
                    h3 Конечно, подобрать индивидуальный набор не так легко, но благодаря квалифицированным специалистам, мы поможем сделать Вам свой правильный выбор.
                    .gifts-top-brands
                        .row
                            .col-3
                                img(src="./../../images/gifts/top-first.svg", alt="")
                            .col-3
                                img(src="./../../images/gifts/top-second.svg", alt="")
                            .col-3
                                img(src="./../../images/gifts/top-third.svg", alt="")
                            .col-3
                                img(src="./../../images/gifts/top-fourth.svg", alt="")
                    .gifts-top-brands-second
                        .row
                            .col-3.ml-auto
                                img(src="./../../images/gifts/bottom-first.svg", alt="")
                            .col-3.mr-auto
                                img(src="./../../images/gifts/bottom-second.svg", alt="")
.gifts-bottom
    .gifts-bottom-default
        img.gifts-vector(src="./../../images/gifts/vector.png", alt="")
        img(src="./../../images/gifts/packs.png", alt="")
        .container
            .row
                .col
                    .gifts-bottom-content
                        .gifts-bottom-content-text
                            h3 У нас можно приобрести подарочные сертификаты
                            p.text-default.margin-default-left Когда не знаете, что подарить, — предоставьте выбор тому, кого хотите порадовать презентом.
