.container
    .row
        .col.header
            .header-menu
                .header-menu-about
                    a(href="") О нас
                .header-menu-service
                    a(href="") Услуги
                .header-menu-recomendation
                    a(href="") Домашний уход
                .header-menu-contacts
                    a(href="") Контакты
            .header-contact
                .header-contact-location
                    a(href='#')
                        p г.Гродно, ул. Калиновского 3, 1 этаж
                .header-contact-number
                    a(href='tel:+375336223331')
                        p +375 (33) 6223331
//- .container
//-     .row
//-         .col
//-             .header
//-                 .header-menu
//-                     .header-menu-left
//-                         .about
//-                             a(href="") О нас
//-                         .service
//-                             a(href="") Услуги
//-                         .recomendation
//-                             a(href="") Домашний уход
//-                         .contacts
//-                             a(href="") Контакты
//-                     .header-menu-right
//-                         .location
//-                             a(href='#')
//-                                 p г.Гродно, ул. Калиновского 3, 1 этаж
//-                         .number
//-                             a(href='tel:+375336223331')
//-                                 p +375 (33) 6223331
