.container
    .row
        .col
            .header
                .header-menu
                    .header-menu-left
                        .about
                            a(href="") О нас
                        .service
                            a(href="") Услуги
                        .recomendation
                            a(href="") Домашний уход
                        .contacts
                            a(href="") Контакты
                    .header-menu-right
                        .location
                            a(href='#')
                                p г.Гродно, ул. Калиновского 3, 1 этаж
                        .number
                            a(href='tel:+375336223331')
                                p +375 (33) 6223331
