.map-vector
    .map-vector-img
        img(src="./../../images/line-map.png", alt="")
    .container
        .row
            .col
                .map-title
                    h2 Мы всегда рады видеть вас в нашем Кабинете врачебной косметологии
.map
    #map
    .container
        .row
            .col-4
                .map-adress.margin-default-left 
                    .map-adress-title
                        h3 Мы работаем по предварительной записи
                    .map-adress-item
                        img(src="./../../images/phone-icon.svg", alt="")
                        a(href='tel:+375336223331')
                            p +375 (33) 6223331
                    .map-adress-item
                        img(src="./../../images/location-icon.svg", alt="")
                        p г.Гродно <br> ул. Калиновского 3, 1 этаж
                    .map-adress-item
                        img(src="./../../images/insta-icon.svg", alt="")
                        a(href='https://www.instagram.com/doctor_dermatolog_liliyalazuta/')
                            p doctor_dermatolog_liliyalazuta
