include ./mixins.pug
.service-title
    h2#services Услуги
.container
    .row
        .col
            .service
                +service('Уход за кожей', ['Уход за кожей с акне', 'Уход за чувствительной кожей', 'Уход за жирной и пористой кожей'], "./../../images/service/foto-service-1.png", 'от 40 руб.' )
                +service('Чистка', ['Механическая', 'Автравматическая', 'Комбинированная'], "./../../images/service/foto-service-2.png", 'от 38 руб.' )
                +service('Пилинги', ['Анти-age', 'Увлажняющий', 'Осветляющий', 'Работа с акне и постакне', 'Работа с чувствительной кожей', 'Работа с жирной и пористой кожей'], "./../../images/service/foto-service-3.png", 'от 38 руб.' )
                +service('Коррекция мимических морщин', ['Считается, что это средство одно из лучших в борьбе с морщинами на любых частях лица'], "./../../images/service/foto-service-4.png" )
                +service('Карбокситерапия', ['Инновационный метод омоложения эпидермиса, основанный на свойствах двуокиси углерода'], "./../../images/service/foto-service-5.png", 'от 40 руб.' )
                +serviceBottom('Гигиенический массаж + маска + концентрат по типу и проблеме кожи', "./../../images/service/foto-service-6.png", 'от 35 руб.' )
                +serviceBottom('Процедура реинкарнации кожи или процедура "на выход" ', "./../../images/service/foto-service-7.png", 'от 40 руб.' )
                +serviceBottom('Мезотерапия и биоревиталиация кожи лица и волосистой части головы', "./../../images/service/foto-service-8.png" )
                +serviceBottom('Консультация и подбор домашнего ухода', "./../../images/service/foto-service-9.png", 'от 40 руб.' )
                