.services-title
    h2 Услуги
.container
    .row
        .col.service
            .service-text.col-lg-6
                h3 Уход за кожей
                p.price от 40 руб.
            .service-item.col-lg-6
                .row.service-item-img
                    .service-item-img-text.col-6
                        p.text1 Уход за кожей с акне
                        p.text1 Уход за чувствительной кожей
                        p.text1 Уход за жирной и пористой кожей
                    .service-item-img-in.col-6
                        img(src="./../../images/service/foto-service-1.png", alt="")
            hr.border-bottom.col-12
            .service-text.col-lg-6
                h3 Чистка
                p.price от 38 руб.
            .service-item.col-lg-6
                .row.service-item-img
                    .service-item-img-text.col-6
                        p.text1 Механическая
                        p.text1 Автоматическая
                        p.text1 Комбинированная
                    .service-item-img-in.col-6
                        img(src="./../../images/service/foto-service-2.png", alt="")
            hr.border-bottom.col-12

            .service-text.col-lg-6
                h3 Пилинг
                p.price от 38 руб.
            .service-item.col-lg-6
                .row.service-item-img
                    .service-item-img-text.col-6
                        p.text1 Анти-age
                        p.text1 Увлжняющий
                        p.text1 Осветляющий
                        p.text1 Работа с акне и постакне
                        p.text1 Работа с чувствительной кожей
                        p.text1 Работа с жирной и пористой кожей
                    .service-item-img-in.col-6
                        img(src="./../../images/service/foto-service-3.png", alt="")
            hr.border-bottom.col-12
            .service-text.col-lg-6
                h3 Коррекция мимических морщин
            .service-item.col-lg-6
                .row.service-item-img
                    .service-item-img-text.col-6
                        p.text1 Считается, что это средство одно из лучших в борьбе с морщинами на лобных частях лица
                    .service-item-img-in.col-6
                        img(src="./../../images/service/foto-service-4.png", alt="")
            hr.border-bottom.col-12
            .service-text.col-lg-6
                h3 Карбокситерапия
                p.price от 40 руб.
            .service-item.col-lg-6
                .row.service-item-img
                    .service-item-img-text.col-6
                        p.text1 Инновационный метод омоложенияэпидермиса, основанный на свойствах двуокиси углерода
                    .service-item-img-in.col-6
                        img(src="./../../images/service/foto-service-5.png", alt="")
            hr.border-bottom.col-12
            .service-text.col-lg-8
                h3 Гигиенический массаж + маска + концентрат по типу и проблеме кожи
                p.price от 35 руб.
            .service-img.col-lg-3.offset-lg-1
                img(src="./../../images/service/foto-service-6.png", alt="")
            hr.border-bottom.col-12
            .service-text.col-lg-8
                h3 Процедура реинкорнации кожи или процедура "на выход"
                p.price от 40 руб.
            .service-img.col-lg-3.offset-lg-1
                img(src="./../../images/service/foto-service-7.png", alt="")
            hr.border-bottom.col-12
            .service-text.col-lg-8
                h3 Мезотерапия и биоревитализация кожи лица и волосистой части головы
            .service-img.col-lg-3.offset-lg-1
                img(src="./../../images/service/foto-service-8.png", alt="")
            hr.border-bottom.col-12
            .service-text.col-lg-8
                h3 Коонсультация и подбор домашнего ухода
                p.price от 40 руб.
            .service-img.col-lg-3.offset-lg-1
                img(src="./../../images/service/foto-service-9.png", alt="")