.swiper-container
    .swiper-wrapper
        .swiper-slide
            include ./sliders/slide1.pug
        .swiper-slide
            include ./sliders/slide2.pug
        .swiper-slide
            include ./sliders/slide3.pug
        .swiper-slide
            include ./sliders/slide4.pug
        .swiper-slide
            include ./sliders/slide5.pug
        .swiper-slide
            include ./sliders/slide6.pug
    .swiper-pagination
    .swiper-button-prev
                img(src="./../images/slider/prev.svg", alt="prev")
    .swiper-button-next
                img(src="./../images/slider/next.svg", alt="next")
