//- .slider slider

.swiper-container
    .swiper-wrapper
        .swiper-slide
            include ./sliders/slide1.pug
        .swiper-slide Slide 2
        .swiper-slide Slide 3
        .swiper-slide Slide 4
        .swiper-slide Slide 5
        .swiper-slide Slide 6
    .swiper-pagination
    .swiper-button-prev
                img(src="./../images/slider/prev.svg", alt="prev")
    .swiper-button-next
                img(src="./../images/slider/next.svg", alt="next")
