
.header{
  height: auto;
  padding: 40px 20px;
  background:#fff;
  display: flex;
  justify-content: space-between;
}

.header-left{
  display: flex;
}

.header-left > * {
  padding-right: 30px;
}

.header-right{
  display: flex;
}

.header-right > * {
  padding-left: 30px;
}

a{
  font-family: 'DidactGothic-Regular';
}

.hidden{
  display: none;
}