.mail {
    &-main {
        background: $colorBackground1;
        position: relative;
        height: 422px;
        img {
            position: absolute;
        }
        &-right{
            bottom: -120px;
            right: 0;
        }
        &-leafs-right{
            right: 0;
            bottom: 0;
        }
        &-gel{
            left: 550px;
            bottom: 70px;
        }
        &-leafs-left{
            left: 65px;
            bottom:0;
        }

    }
    &-form {
        background:  $colorBackground2;
            position: absolute;
            top: -42px;
            left: 150px;
            width: 446px;
            padding: 40px 40px 31px 40px;
        @media(max-width: 576px) {
            width: 100%;
            padding: 40px 18px 16px 18px;
            margin: 0 20px;
            width: auto;
        }
        &-group {
            margin-bottom: 20px;
            &-block {
                background: #FFFFFF;
                padding: 16px;
                height: 56px;
                & #inputText {
                    resize: none;
                    height: 100px;
                }
                label {
                    margin: 0;
                }
                .input {
                    border: none;
                    padding: 0;
                    background: transparent;
                    height: 16px;
                    &:focus {
                        box-shadow: none;
                    }
                }
                &.textarea {
                    height: 145px;
                }
            }
            .invalid {
                color: #DB524E;
                margin-top: 8px;
            }
        }
        .btn {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            & :first-child {
                margin-right: 10px;
            }
            &:hover {
                .sbmt {
                    color: $colorAkcent;
                }
                .button {
                    background: url(./../images/sbmt-hover.svg);
                }
            }
            .button {
                background: url(./../images/sbmt.svg);
                background-repeat: no-repeat;
                display: block; 
                width: 39px;
                height: 13px;
            }
        }
    }
    &-text {
        margin-top: 109px;
        & h3{
            margin-bottom: 40px;
        }
        &-bottom {
            margin-bottom: 30px;

        }
        &-contact-phone{
            margin-top: 7px;
            display: flex;
            img {
                position: inherit;
                margin-right: 9px;
            }
        }
    }
}

.bury {
    display: none;
}

.fog {
    color: rgba(73, 88, 91, 0.5);
    font-size: 14px;
    line-height: 20px;
    transition: 0.3s;
}

.error {
    background: #F9E3E3;
}


